:root {
  --border-std: #666;
  --bg-btn: #008afc;
  --ff-neo: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
  --ff-lucky: 'Luckiest Guy', sans-serif;
  --fw-normal: 400;
  --fc-gray: #666;
  --bg-site: #fff4bb;
  --bg-white: #fff;
  --bg-output: var(--bg-white);
}

/* RESET */

* {
  box-sizing: border-box;
}

body, button, input, select, textarea {
  font-family: var(--ff-neo);
  font-family: var(--ff-lucky);
}

body {
  background-color: var(--bg-site);
}

input, select, textarea {
  background-color: transparent;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: var(--fw-normal);
}

img {
  width: 100%;
  height: auto;
}

/* GENERAL STYLES */

.btn-std {
  border: 0;
  background-color: var(--bg-btn);
  border-radius: .5rem;
  padding: .5rem 1rem;
  cursor: pointer;
  color: white;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.w-100 {
  width: 100%;
}




.italic {
  font-style: italic;
}

.site-container {
  max-width: 800px;
  margin: 0 auto;
  width: 75%;
}

.title__container {
  position: relative;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}

.audio-record__label {
  font-family: var(--ff-lucky);
  color: white;
  font-weight: 700;
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 50px;
  transform: translateY(170px);
  pointer-events: none;
}

/* RECORDING INTERFACE */

.controls-container {
  margin-top: 1rem;
}

.controls-container button:not(:first-child) {
  margin-left: 1rem;
}

.audio-record__btn {
  padding: 0;
  background-color: transparent;
  width: 400px;
}



/* AUDIO TRANSCRIPT */

.audio-transcript__container, .audio-response__container {
  margin-top: 2rem;
}

.audio-transcript__container { /* hide until we have recorded audio */
  display: none;
}

.audio-transcript__heading, .audio-response__heading {
  font-size: 1.25rem;
  margin: 0;
  text-align: center;
  font-style: italic;
}

.audio-transcript, .audio-response {
  margin-top: 1rem;
  border: 1px solid var(--border-std);
  border-radius: .5rem;
  padding: 1rem;
  color: var(--fc-gray);
  font-size: .875rem;
  line-height: 1.5rem;
  text-align: center;
  background-color: var(--bg-output);
}


/* AUDIO RESPONSE */

.audio-response__container {
  display: none;
}

.audio-response__controls {
  display: none;
}

.audio-response__controls {
  margin-top: 1rem;
}

.audio-response__restart-btn {
  margin-top: 1rem;
}


/* JS INITIATED STYLES */


/* AUDIO RECORDING */

body[class^='js-'] .audio-transcript__container {
  display: block;
}

/* AUDIO RESPONDING */
body.js-responding .audio-response__container, body.js-playing .audio-response__container {
  display: block;
}



