:root {
  --border-std: #eee;
  --bg-btn: #008afc;
  --ff-neo: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
  --fw-normal: 400;
  --fc-gray: #666;
}

/* RESET */

* {
  box-sizing: border-box;
}

body, button, input, select, textarea {
  font-family: var(--ff-neo);
}

h1,h2,h3,h4,h5,h6 {
  font-weight: var(--fw-normal);
}

/* GENERAL STYLES */

.btn-std {
  border: 0;
  background-color: var(--bg-btn);
  border-radius: .5rem;
  padding: .5rem 1rem;
  cursor: pointer;
  color: white;
}

.flex {
  display: flex;
}

.w-100 {
  width: 100%;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.italic {
  font-style: italic;
}

/* RECORDING INTERFACE */

.controls-container {
  margin-top: 1rem;
}

.controls-container button:not(:first-child) {
  margin-left: 1rem;
}

/* AUDIO TRANSCRIPT */

.audio-transcript__container, .audio-response__container {
  margin-top: 2rem;
}

.audio-transcript__heading, .audio-response__heading {
  font-size: 1.25rem;
  margin: 0;
}

.audio-transcript, .audio-response {
  margin-top: .5rem;
  border: 1px solid var(--border-std);
  border-radius: .5rem;
  padding: 1rem;
  color: var(--fc-gray);
  font-size: .875rem;
  line-height: 1.5rem;
}

/* AUDIO RESPONSE */

.audio-response__container {
  display: none;
}

.audio-response__controls {
  margin-top: 1rem;
}


/* JS INITIATED STYLES */

/* LLM Responding */

.js-responding .controls-container {
  display: none;
}

.js-responding .audio-response__container {
  display: block;
}