<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BigMouth</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles/main.css">
</head>
<body>
  <div class="site-container">
    <div class="title__container">
      <input type="image" class="audio-record__btn" src="/images/bigmouth-empty.png" alt="BigMouth Logo"></input>
      <label class="audio-record__label" for="record">BIGMOUTH</label>
    </div>

    <div class="audio-transcript__container w-100">
      <h2 class="audio-transcript__heading">You were like...</h2>
      <div class="audio-transcript w-100"></div>
    </div>
    
    <div class="audio-response__container w-100">
      <h2 class="audio-response__heading">...and he's like...</h2>
      <div class="audio-response w-100 italic"></div>
    </div>
    <div class="audio-response__controls align-center flex flex-col">
      <audio controls src="" class="audio-response__player"></audio>
    </div>
  </div>
  <script src="scripts/main.js"></script>
</body>
</html>