<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Audio LLM</title>
  <link rel="stylesheet" href="styles/main.css">
</head>
<body>
  <div class="title-container flex justify-center w-100">
    <h1 class="">Audio LLM</h1>
  </div>
  
  <div class="audio-transcript__container w-100">
    <h2 class="audio-transcript__heading">Request</h2>
    <textarea class="audio-transcript w-100"></textarea>
  </div>
  <div class="controls-container flex justify-center align-center w-100">
    <button class="audio-record-btn btn-std">Record</button>
    <button class="audio-clear-btn btn-std">Clear</button>
    <button class="audio-submit-btn btn-std">Submit</button>
  </div>
  <div class="audio-response__container w-100">
    <h2 class="audio-response__heading">Response</h2>
    <div class="audio-response w-100 italic"></div>
  </div>
  <script src="scripts/main.js"></script>
</body>
</html>